.section {
  padding: 1em;
  h3 {
    font-weight: 500;
  }
}

// DO NOT COPY ABOVE
.data-card {
  display: inline-block;
  border-radius: 0.5em;
  box-shadow: 0 1px 2.5em rgba(0, 0, 0, 0.1);
  padding: 2.5em 1.5em 1.5em 1.5em;
  background-color: #fff;
  width: 212px;
  margin-right: 20px;
  transition: 0.15s ease-out all;
  border: 1px solid transparent;
  cursor: default;
  position: relative;
  &:not(:last-child) {
    margin-right: 0.75em;
  }
  &.is-hoverable {
    cursor: pointer;
    margin-bottom: 30px;
    &:hover {
      z-index: 1;
      border-color: #f1f1f1;
      transform: translateY(-7px);
      box-shadow: 0 3px 2.5em rgba(0, 0, 0, 0.15);
    }
  }
}
.data-card__val {
  font-weight: 200;
  font-size: 32px;
  margin-bottom: 15px;
}
.percentage {
  font-weight: 500;
}
.phase-list {
  display: flex;
  padding: 10px;
  //   color: #64dead;
}
.phase-list h3 {
  font-weight: 500;
}
.phase-list-inside {
  margin-left: 20px;
  color: blue;
  border-bottom: 1px solid blue;
  font-size: 18px;
}
.data-card__label {
  margin-bottom: 0.75em;
  font-size: 14px;
  font-weight: 500;
  color: #777e86;
}
.data-card__color {
  width: 30px;
  height: 5px;
  background-color: #e1e1e1;
  border-radius: 1em;
  //   If there are variables already declared for these colors. Please use them
  &.is-green {
    background-color: #64dead;
  }
  &.is-orange {
    background-color: #eeba89;
  }
  &.is-red {
    background-color: #ec5e66;
  }
}
