.background {
  background: url("auth-bg.png");
  width: 100vw;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;

  background-color: beige;
}
.form {
  /* margin: 50px 30px;
    background-color: rgba(206, 231, 231, 0.844);
    border-radius: 10px;
    filter: blur(5px); */
    background-color: rgb(209 197 84 / 58%);
    backdrop-filter: blur(5px);
    margin: 26px 0px;
    border-radius: 21px;
    padding: 0px;

}
.formCh{
    background-color: rgba(250, 235, 215, 0.771);
    margin: 61px 0px 0px 0px;
    border-radius: 20px;
    backdrop-filter: blur(5px);
}