.loader-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  height: 100vh;
  /* background-color: #00000069; */
  background-color: #f9f1c9;
  position: fixed;
  z-index: 100000000000;
  top: 0;
  right: 0;
}

.loaderCup {
  position: relative;
}

.loaderCup .cup {
  width: 300px;
  height: 300px;
  object-fit: scale-down;
}

.loaderLogo {
  display: none;
  position: absolute;
  top: 56%;
  left: 47%;
  transform: translate(-50%, -50%);
}

.loaderLogo img {
  width: 40px;
  height: 40px;
  max-width: 40px;
  max-height: 40px;
  object-fit: scale-down;
}

.loading-container {
  position: relative;
  height: 6rem;
  width: 6rem;
}

.loading-progress {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 5px solid #accaff36;
}

.loading-progress::before {
  content: "";
  position: absolute;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: var(--primary);
  top: -5px;
  left: -5px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}